* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/homebanner.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}



nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

/*<-------NavBar Image----->*/
nav img {
  width: 50px;
  position: absolute;
  top: 10px;
}

/*--------Navbar Links------>*/
.nav-links {
  flex: 1;
  text-align: right;
}

/*<--------Navbar list-------->*/
.nav-links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

/*<--------Navbar list ;link-------->*/
.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/*<--------Navbar list animation after hover-------->*/
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

/*<---------Div of Text-Box----------->*/
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Proza Libre', sans-serif;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}

/* <!-------For Button--------- >  */
.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}

/*<-------Respomsive website menu open option in small device-------->*/
nav .fa {
  display: none;
}

/*<----------@media Query for purpose for showing containt Responsive in website------------->*/
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  nav .fa {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 32px;
    cursor: pointer;
  }

  .nav-links ul {
    padding: 30px;
  }
}

/* <!-----------Course---------- >  */
.course {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col {
  flex-basis: 31%;
  background: #f38f7688;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 0.5s;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}

.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(11, 11, 11, 0.432);
  transform: translatey(-10px);
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*<--------------CAMPUS CSS-------------------->*/
.campus {
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 50px;
}

.campus-cal {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.campus-cal img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translatex(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/*<----------------------FACILITIES------------------------->*/
.facilities {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  cursor: pointer;
  transition: transform 0.5s;
}

.facilities-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: left;
}

.facilities-col img {
  width: 100%;
  border-radius: 10px;
  transition: 1s;
}

.facilities-col p {
  padding: 0;
}

.facilities-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
}

.facilities-col img:hover {
  box-shadow: 0 0 20px 0px rgba(61, 12, 238, 0.782);
  transform: translatey(-15px);
}

/*<!------------------ TestiMonials--------------------->*/
.testimonials {
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;
}

.testimonials-col {
  flex-basis: 44%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonials-col img {
  height: 100px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}

.testimonials-col p {
  padding: 0;
}

.testimonials-col h3 {
  margin-top: 15px;
  text-align: left;
}

.testimonials-col .fa {
  color: #f44336;
}

@media (max-width: 700px) {
  .testimonials-col img {
    margin-left: 0px;
    margin-right: 15px;
  }
}

/*<----------------Call To Action--------------->*/
.cta {
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/banner2.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}

.cta h1 {
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media (max-width: 700px) {
  .cta h1 {
    font-size: 24px;
  }
}

/*<----------------Footer--------------------->*/
.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
  clear: both;
  margin-top: 100px;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icon .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}

/*about page*/
#aboutsec {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.header h1 {
  margin: auto;
  text-align: center;
  color: white;
  margin-top: 60px;
  padding-top: 0px;
}

.row {
  margin-top: 150px;
  padding: 15px 0px 25px;

}

.about-us {
  width: 80%;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 50px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
}

.about-col img {
  width: 100%;
}

.about-col h1 {
  padding-top: 0;
}

.about-col p {
  padding: 15px 0px 25px;
}

.about-col img:hover {
  box-shadow: 0 0 20px 0px rgba(61, 12, 238, 0.782);
  transform: translatey(-15px);
}

.red-btn {
  border: 1px solid #f44336;
  background: transparent;
  color: #f44336;
}

.red-btn:hover {
  color: #fff;
}

/*team page*/
#teamsec {
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/team1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  text-align: center;
}

.team-member {
  height: 32vh;
  border-radius: 135px;
  box-shadow: 5px 5px 5px 5px grey;
}

#team-row {
  margin-top: 2%;
}

.team-col {
  background-color: white;
}

.team-col h3 {
  color: #f44336;
  margin-top: 22px;
}

.team-col h4 {
  text-decoration: underline;
  font-family: "Poppins", sans-serif;

}

.team-col:hover {
  border: solid 1px #f44336;
  color: white;
  background: rgb(237, 235, 229);
}

/*------------------Contact Us-----------------------*/
.sub-header {
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/background.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

.location {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid black;
  border-radius: 12px;
}

.location iframe {
  width: 100%;
}

.mp h3 {
  margin-bottom: 30px;
  font-size: 30px;
  color: #f44336;

}

.contact-us {
  width: 80%;
  margin: auto;
}

.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #f44336;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}

.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.hero1-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(234, 58, 58);
  border: 1px solid rgb(49, 9, 9);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.hero1-btn:hover {
  border: 1px solid #f44336;
  background: #f44336;
  transition: 1s;
}